Repository thibmaek/thibmaek.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix

✚ Add flow
  .flowconfig
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

Add exported static types
  src/lib/pickRandom.js
  src/types/contentful.js
  src/types/gatsby.js
  src/types/index.js
Due: npm run eslint:fix

Replace prop-types with Flow props
  src/components/comments/Comments.js
  src/components/footer/Footer.js
  src/components/footer/Pagination.js
  src/components/header/Header.js
  src/components/helmet/Head.js
  src/components/helmet/PageHead.js
  src/components/helmet/PostHead.js
  src/components/helmet/index.js
  src/components/nav/Navbar.js
  src/components/post/ContinueReadingButton.js
  src/components/post/Preview.js
  src/components/post/Tags.js
  src/components/recent-repos/RecentRepos.js
  src/components/recent-repos/Repo.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/About.js
  src/pages/Currents.js
  src/pages/Publications.js
  src/pages/Uses.js
  src/pages/Weird.js
  src/templates/Post.js
  src/templates/index.js
Due: npm run eslint:fix

Add serve depdency
  package.json
Due: none

Resolve build issues
  src/components/footer/Footer.css
  src/components/header/header.css
  src/components/nav/Navbar.css
  src/components/post/styles/ContinueReadingButton.css
  src/components/post/styles/preview.css
  src/components/post/styles/tag.css
  src/components/recent-repos/index.css
  src/styles/index.css
  src/styles/partials/code.css
  src/styles/partials/text-styles.css
  src/templates/index.js
  src/templates/post.css
Due: npm run eslint:fix, npm run stylelint:fix

Update minor dependencies prismjs@1.14.0, react@16.3.2, react-disqus-comments@1.2.0, eslint@4.19.1, eslint-plugin-react@7.8.2, npm-check@5.7.1, prettier@1.12.1
  package-lock.json
  package.json
Due: none

API changes (react@16.3.0)
  .eslintrc
  src/components/recent-repos/RecentRepos.js
Due: npm run eslint:fix

Update major dependencies gatsby-remark-prismjs@2.0.2, normalize.css@8.0.0, dotenv@5.0.1, eslint-plugin-babel@5.1.0, lint-staged@7.1.1, stylelint@9.2.1
  package-lock.json
  package.json
Due: none

Bump version to 1.2.0
  package-lock.json
  package.json
Due: none

Fix lockfile
  package-lock.json
Due: none

Update non-semver deps gatsby-remark-emoji@0.0.2, gatsby-remark-external-links@0.0.4, stylelint-order@0.8.1
  package-lock.json
  package.json
Due: none

Switch to CSS modules for styles
  src/components/footer/Footer.js
  src/components/footer/Footer.module.css
  src/components/footer/Pagination.css
  src/components/footer/Pagination.js
  src/components/footer/Pagination.module.css
  src/components/header/Header.js
  src/components/header/Header.module.css
  src/components/nav/Navbar.js
  src/components/nav/Navbar.module.css
  src/components/post/ContinueReadingButton.js
  src/components/post/ContinueReadingButton.module.css
  src/components/post/Preview.js
  src/components/post/Preview.module.css
  src/components/post/Tag.module.css
  src/components/post/Tags.js
  src/components/post/styles/tag.css
  src/pages/Spotify.js
  src/pages/Spotify.module.css
  src/templates/Post.js
  src/templates/Post.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Add code highlight label
  src/styles/partials/code.css
Due: npm run stylelint:fix

Color fixes
  src/styles/partials/code.css
Due: npm run stylelint:fix

Add dependency eslint-plugin-jsx-a11y
  package-lock.json
  package.json
Due: none

Static checks for a11y
  .eslintrc
  src/components/footer/Footer.js
  src/components/header/Header.js
  src/pages/404.js
  src/pages/Spotify.js
Due: npm run eslint:fix

Bump version to 1.3.0
  package-lock.json
  package.json
Due: none

Fix trimmed spaces in footer
  src/components/footer/Footer.js
Due: npm run eslint:fix

Revert "Release: CSS modules, codeblock styling, static a11y"
  package-lock.json
  package.json
  src/components/footer/Footer.css
  src/components/footer/Footer.js
  src/components/footer/Pagination.css
  src/components/footer/Pagination.js
  src/components/footer/Pagination.module.css
  src/components/header/Header.js
  src/components/header/header.css
  src/components/nav/Navbar.css
  src/components/nav/Navbar.js
  src/components/post/ContinueReadingButton.js
  src/components/post/Preview.js
  src/components/post/Tag.module.css
  src/components/post/Tags.js
  src/components/post/styles/ContinueReadingButton.css
  src/components/post/styles/preview.css
  src/components/post/styles/tag.css
  src/pages/Spotify.js
  src/pages/styles/spotify.css
  src/styles/partials/code.css
  src/templates/Post.js
  src/templates/post.css
Due: npm run eslint:fix, npm run stylelint:fix

Bump to 1.3.1
  package-lock.json
  package.json
Due: none

Update minor dependencies: react@16.4.0, eslint-plugin-react@7.9.1, prettier@1.13.5
  package-lock.json
  package.json
Due: none

Update major dependencies: dotenv@6.0.0 serve@8.1.2
  package-lock.json
  package.json
Due: none

Add syntax language to code label
  src/styles/partials/code.css
Due: npm run stylelint:fix

Bump to 1.3.2
  package-lock.json
  package.json
Due: none

Add some plugins
  .eslintrc
  gatsby-config.js
  package-lock.json
  package.json
  plugins/canonical-urls.js
  plugins/feed.js
  plugins/index.js
  plugins/source-contentful.js
  plugins/transform-remark.js
Due: none

Publish 1.4.0
  package-lock.json
  package.json
Due: none

Restructure gatsby Node API & create tag page
  gatsby-node.js
  gatsby/createPaginatedPages.js
  gatsby/createPostPages.js
  gatsby/createTagPages.js
  src/templates/Tag.js
Due: npm run eslint:fix

Add tag page & posts
  src/templates/Tag.js
Due: npm run eslint:fix

Bump package versions
  package-lock.json
  package.json
Due: none

Add /dev page
  src/pages/Dev.js
Due: npm run eslint:fix

Release 2.1.0
  package-lock.json
  package.json
Due: none

Update url to thibmaek.com
  gatsby-config.js
  package-lock.json
  package.json
  plugins/canonical-urls.js
Due: none

Get playlists from Contentful & optimize layour for mobile
  src/pages/Spotify.js
  src/pages/Spotify.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Update run-tasks for updating dependencies
  package.json
Due: none

Manually bump version to @2.2.0
  package-lock.json
  package.json
Due: none

[ImgBot] optimizes images
  src/assets/img/icons/favicon-16.png
  src/assets/img/icons/favicon-32.png
  src/assets/img/icons/favicon-96.png
  src/assets/img/icons/favicon-peace-16.png
  src/assets/img/icons/favicon-peace-32.png
  src/assets/img/icons/favicon-peace-96.png
Due: none

Move tags to the header in a post
  src/templates/Post.js
  src/templates/Post.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Add pgp & github redirects
  netlify.toml
Due: none

Add redirect to SO dev profile
  netlify.toml
Due: none

Remove disqus
  package-lock.json
  package.json
  src/components/comments/Comments.js
  src/components/comments/index.js
  src/templates/Post.js
Due: npm run eslint:fix

Path conditions:
  npm run eslint:fix: any of: src/**/*.{js,jsx}
  npm run stylelint:fix: any of: src/**/*.css
