Repository thibmaek/thibmaek.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix

Add a component export mapper
  src/components/index.js
Due: npm run eslint:fix

Add comment components
  src/components/comments/Comments.js
  src/components/comments/Reactions.js
  src/components/comments/SubmitComment.js
  src/components/comments/SubmitComment.module.css
  src/components/comments/index.js
  src/lib/encode.js
Due: npm run eslint:fix, npm run stylelint:fix

Use imports correctly at Post page
  src/templates/Post.js
Due: npm run eslint:fix

Dont export recent repos, it's broken
  src/components/index.js
Due: npm run eslint:fix

Async does not seem to be supported
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Correctly parse textarea
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Provide a slug for each post
  src/components/comments/SubmitComment.js
  src/templates/Post.js
Due: npm run eslint:fix

Update README.md
  README.md
Due: none

Add a name prop to comment input
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Also add project slug to the form
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Add some emoji to time to read
  src/components/post/Preview.js
Due: npm run eslint:fix

Seeing if inputs get auto submitted
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Reenabling slug
  src/components/comments/SubmitComment.js
Due: npm run eslint:fix

Update some comment CSS
  src/components/comments/SubmitComment.js
  src/components/comments/SubmitComment.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Stub Comments component
  src/components/comments/Comments.js
Due: npm run eslint:fix

Add Reactions component
  src/components/comments/Reactions.js
  src/components/comments/Reactions.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Abstract comment logic to HOC
  src/components/comments/SubmitComment.js
  src/components/comments/withCommentHOC.js
Due: npm run eslint:fix

Include all comment components
  src/templates/Post.js
Due: npm run eslint:fix

Add netlify-lambda + aws-sdk
  package-lock.json
  package.json
Due: none

Add comment fn
  functions/comment.js
Due: none

Add classnames@2.2.6
  package-lock.json
  package.json
Due: none

Fix pagination offset which was wrong
  src/components/footer/Pagination.js
  src/components/footer/Pagination.module.css
Due: npm run eslint:fix, npm run stylelint:fix

Fix non-square image in portrai mode iPad
  src/components/header/Header.module.css
Due: npm run stylelint:fix

Fix css offset for inline code tags + code lang tag
  src/styles/partials/code.css
Due: npm run stylelint:fix

Add react-toggle
  package-lock.json
  package.json
Due: none

Add dark colors
  src/styles/constants/colors.css
Due: npm run stylelint:fix

Add dark mode css
  src/styles/dark-mode.css
  src/styles/index.css
Due: npm run stylelint:fix

Add toggle for dark mode
  src/components/toggle/ThemeToggle.js
  src/components/toggle/ThemeToggle.module.css
  src/components/toggle/index.js
  src/layouts/index.js
Due: npm run eslint:fix, npm run stylelint:fix

Add dynamic import of prism themes
  gatsby-browser.js
Due: none

Reference localStorage from window i/o global
  gatsby-browser.js
  src/layouts/index.js
Due: npm run eslint:fix

Upgrade gatsby-plugin-feed@2.2.3
  package-lock.json
  package.json
Due: none

Update feed object
  plugins/feed.js
Due: none

Add sloppy checks for window
  gatsby-browser.js
  src/layouts/index.js
Due: npm run eslint:fix

Upgrade gatsby to latest (v2)
  package-lock.json
  package.json
Due: none

Add react + react-dom latest
  package-lock.json
  package.json
Due: none

Misc. updates
  LICENSE
  README.md
  package.json
Due: none

Update gatsby-link@latest gatsby-paginate@latest
  package-lock.json
  package.json
Due: none

Update gatsby-plugin-canonical-urls@latest gatsby-plugin-feed@latest gatsby-plugin-netlify@latest gatsby-plugin-no-sourcemaps@latest gatsby-plugin-offline@latest gatsby-plugin-react-helmet@latest
  package-lock.json
  package.json
Due: none

Update gatsby-remark-emoji@latest gatsby-remark-prismjs@latest gatsby-source-contentful@latest gatsby-transformer-remark@latest
  package-lock.json
  package.json
Due: none

Remove gatsby-link, import from gatsby
  package-lock.json
  package.json
  src/components/footer/Pagination.js
  src/components/header/Header.js
  src/components/nav/Navbar.js
  src/components/post/ContinueReadingButton.js
  src/components/post/Preview.js
  src/components/post/Tags.js
Due: npm run eslint:fix

Path conditions:
  npm run eslint:fix: any of: src/**/*.{js,jsx}
  npm run stylelint:fix: any of: src/**/*.css
